<footer class="bg-dark px-5 mt-5">
    <div class="container-fluid">
        <div class="row text-light py-4">
            <div class="col-lg-4 col-sm-6">
                <h5>About Us</h5>
                <p class="small">Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Totam, recusandae.</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h5>Visit Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link text-decoration-none text-white">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-decoration-none text-white">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-decoration-none text-white">Categories</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link text-decoration-none text-white">Brands</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h5 class="pb-3">Need Help</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link text-decoration-none text-white">Contact Us</a>
                    </li>
                    <li>
                        <a href="mailto:ecom@ecoma.com" class="footer-link text-decoration-none text-white">ecom@ecoma.com</a>
                    </li>


                </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h5 class="pb-3">Stay Connected</h5>
                <p class="small">Enter your email address to receive <br>exclusive offers and new updates </p>
                <form action="" class="mb-3">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="Email  Address">
                        <div class="input-group-append">
                            <button type="submit"
                                class="btn bg-danger text-white text-uppercase font-bold">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</footer>























<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>