<%- include('partials/header') -%>


    <div class="text-center background-brand pb-3">
        <h1 class="pt-5">All Products</h1>
        <p class="lead pb-5">Choose your product from the categories you like!</p>

        <form action="">
            <div class="input-group mx-auto" style="max-width: 35rem;">
                <input type="text" class="form-control" aria-describedby="basic-addon2"
                    placeholder="Search For Your Products" name="brandname">
                <div class="input-group-append ">
                    <button class="btn btn-outline-secondary mb-5" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <section class="bg-light">
        <div class="row">
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="products">
                    <li>
                        <div class="product">
                            <a href="" style="text-decoration: none;">
                                <img src="../images/pro1.jpg" alt="" class="product-image">
                                <div class="row mt-2">
                                    <div class="center-block col">
                                        <span name="inn" style="text-decoration: none;" class="product-name h6">Item
                                            Title</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col text-end mx-5 h5 center-block product-price">
                                $10
                            </div>
                            <div class="product-brand">
                                Brand <span class="font-weight-bold">Google</span>
                            </div>
                            <div class="product-brand">
                                Category <span class="font-weight-bold">Category</span>
                                <div class="product-brand">
                                    Size <span class="font-weight-bold">200ML</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>




    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>




    <%- include('partials/footer') -%>