<%- include('partials/header') -%>

    <div
        style="background: url(../images/bg.jpg); background-size: cover; background-position: center; height: 38vh; background-repeat: no-repeat; margin: 0;">
        <div class="row">
            <div class="col col-md-6 text-center mx-auto">
                <h1 class="p-4">Welcome to the E Commerce Website</h1>
                <p>Checkout top quality items and exclusive offer</p>
            </div>
        </div>
    </div>
    <div class="row text-center m-0 p-2 bg-light">
        <div class="col-4">
            <p class="lead">Top Quility</p>
        </div>
        <div class="col-4">
            <p class="lead">Fast Delivery</p>
        </div>
        <div class="col-4">
            <p class="lead">Best- Price</p>
        </div>
    </div>

    <section class="bg-light text-center-p-5">
        <div class="container-fluid">
            <div class="row text-muted text-center">
                <div class="col m-4">
                    <h1 class="display-4 mb04">Best Sellers</h1>
                </div>
                <p class="lead">Check out some of the best sellers item for 2020.</p>
            </div>
            <div class="row align-items-center text-center mx-auto">
                <div class="col-lg-4 col-10 mx-auto">
                    <div class="card card-1 text-dark my-4 mx-auto">
                        <img class="mx-auto my-2" style="max-height: 200px; width:100%;" src="../images/pro1.jpg"
                            alt="">
                        <div class="card-body">
                            <h5 class="text-uppercase font-weight-bold mb-3 card-list-item">Johnson Shampoo 400ML</h5>

                            <form action="">
                                <button type="submit" class="btn p-2 price-card-button btn-warning text-light">View
                                    More</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-10 mx-auto">
                    <div class="card card-1 text-dark my-4 mx-auto">
                        <img class="mx-auto my-2" style="max-height: 200px; width:100%;" src="../images/pro1.jpg"
                            alt="">
                        <div class="card-body">
                            <h5 class="text-uppercase font-weight-bold mb-3 card-list-item">Johnson Shampoo 400ML</h5>

                            <form action="">
                                <button type="submit" class="btn p-2 price-card-button btn-warning text-light">View
                                    More</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-10 mx-auto">
                    <div class="card card-1 text-dark my-4 mx-auto">
                        <img class="mx-auto my-2" style="max-height: 200px; width:100%;" src="../images/pro1.jpg"
                            alt="">
                        <div class="card-body">
                            <h5 class="text-uppercase font-weight-bold mb-3 card-list-item">Johnson Shampoo 400ML</h5>

                            <form action="">
                                <button type="submit" class="btn p-2 price-card-button btn-warning text-light">View
                                    More</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>




    <%- include('partials/footer') -%>