<%- include('partials/header') -%>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-0 col-lg-1">

                </div>
                <div class="col-6 col-lg-4 align-items center">
                    <img style="max-width: 300px;" src="../images/pro1.jpg" alt="">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-6 col-lg-4">
                    <form action="">
                        <h2 class="text-info">Item Title</h2>
                        <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus tempore modi
                            numquam earum
                            enim eum laboriosam labore veritatis dolore perferendis animi quos, voluptates consequatur
                            assumenda blanditiis, optio possimus expedita ducimus.</p>
                        <p class="h5">Price: <span class="text-secondary">$34</span></p>
                        <p><span class="font-weight-bold">Brand: </span>Johnson</p>
                        <p><span class="font-weight-bold">Category: </span>Shampoo</p>
                        <br>
                        <div class="row">
                            <div class="col-2 mt-2">
                                <p class="text-secondary h6">Size</p>
                            </div>
                            <div class="col-2">
                                <p class="lead">200ML</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="text" name="box" class="form-control" placeholder="Qtr">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Pieces</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <button type="submit" data-bs-toggle="" style="display: inline-block;"
                                class="btn btn-dark">Add To Cart</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>



    </section>

    <%- include('partials/footer') -%>