* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 html, body {
 width: 100%;
 height: 100%;
}
.navbar-nav>.active>a {
    color: #fff;
}
.nav-item>a:hover {
    color: #fff;
}
/* End of Header */

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}
.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.nav-button:focus {
    border-radius: none !important;
}

.menu-item {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff !important;
    font-weight: lighter;
    transition: color .3s;
}
.menu-item:hover {
    color: #eee !important;
}